<div class="panel">
  <h3>New Song Form:</h3>
  <div>
    <label>Song Title</label>
    <input [(ngModel)]="song.title" type="text">
    <label>Author</label>
    <input [(ngModel)]="song.author" type="text">
    <label>Transcriber</label>
    <input [(ngModel)]="song.transcriber" type="text">
    <label>Tempo</label>
    <input [(ngModel)]="song.tempo" type="number">
    <button (click)="saveSong(song.title, song.author, song.transcriber, song.tempo)">Save</button>
  </div>
  <ul>
    <li>{{song.title}}</li>
    <li>{{song.author}}</li>
    <li>{{song.transcriber}}</li>
    <li>{{song.tempo}}</li>
  </ul>
</div>
