<div class="container">
  <h3>New Song Form:</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="song-form">
        <label>Song Title</label><br>
        <input [(ngModel)]="song.title" type="text" placeholder="testTitle"><br>
        <label>Author</label><br>
        <input [(ngModel)]="song.author" type="text" placeholder="testAuthor"><br>
        <label>Transcriber</label><br>
        <input [(ngModel)]="song.transcriber" type="text" placeholder="testTranscriber"><br>
        <label>Tempo</label><br>
        <input [(ngModel)]="song.tempo" type="number"><br>
        <button (click)="saveSong(song.title, song.author, song.transcriber, song.tempo)">Save</button><br>
      </div>
    </div>
    <div class="col-sm-6">
      <ul>
        <li>{{song.title}}</li>
        <li>{{song.author}}</li>
        <li>{{song.transcriber}}</li>
        <li>{{song.tempo}}</li>
      </ul>
    </div>
  </div>
</div>
