<div class="container">
  <button (click)="playAudio()">playAudio</button>
  <button (click)="startScrolling()">Start Scrolling</button>
  <!-- <ul>
    <li *ngFor="let note of firstStringArr">{{note}}</li>
  </ul> -->
  <div class="well">
    <h2>Display Window</h2>
  </div>
  <div class="jumbotron" id="fretBoard">
    <table>
      <hr>
      <hr>
      <tr>
        <td *ngFor="let note of firstStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of secondStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of thirdStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of fourthStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of fifthStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of sixthStringArr"><span>{{note}}</span></td>
      </tr>
    </table>
  </div>
</div>
<audio id="A1">
  <source src="../assets/A1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="A2">
  <source src="../assets/A2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="A3">
  <source src="../assets/A3Clean2.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="AS1">
  <source src="../assets/AS1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="AS2">
  <source src="../assets/AS2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="AS3">
  <source src="../assets/AS3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="B1">
  <source src="../assets/B1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="B2">
  <source src="../assets/B2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="B3">
  <source src="../assets/B3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="C1">
  <source src="../assets/C1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="C2">
  <source src="../assets/C2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="C3">
  <source src="../assets/C3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="C4">
  <source src="../assets/C4Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="CS1">
  <source src="../assets/CS1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="CS2">
  <source src="../assets/CS2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="CS3">
  <source src="../assets/CS3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="CS4">
  <source src="../assets/CS4Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="D1">
  <source src="../assets/D1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="D2">
  <source src="../assets/D2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="D3">
  <source src="../assets/D3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="D4">
  <source src="../assets/D4Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="DS1">
  <source src="../assets/DS1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="DS2">
  <source src="../assets/DS2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="DS3">
  <source src="../assets/DS3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="DS4">
  <source src="../assets/DS4Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="E1">
  <source src="../assets/E1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="E2">
  <source src="../assets/E2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="E3">
  <source src="../assets/E3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="F1">
  <source src="../assets/F1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="F2">
  <source src="../assets/F2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="F3">
  <source src="../assets/F3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="FS1">
  <source src="../assets/FS1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="FS2">
  <source src="../assets/FS2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="FS3">
  <source src="../assets/FS3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="G1">
  <source src="../assets/G1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="G2">
  <source src="../assets/G2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="G3">
  <source src="../assets/G3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="GS1">
  <source src="../assets/GS1Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="GS2">
  <source src="../assets/GS2Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<audio id="GS3">
  <source src="../assets/GS3Clean.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
