<div class="container">
    <!-- jumbotron -->
  <button (click)="startScrolling()">Start Scrolling</button>
  <ul>
    <li *ngFor="let note of firstStringArr">{{note}}</li>
  </ul>
  <div class="well">
    <h2>Display Window</h2>
  </div>
  <div class="jumbotron" id="fretBoard">
    <table>
      <hr>
      <hr>
      <tr>
        <td *ngFor="let note of firstStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of secondStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of thirdStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of fourthStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of fifthStringArr"><span>{{note}}</span></td>
      </tr>
      <tr>
        <td *ngFor="let note of sixthStringArr"><span>{{note}}</span></td>
      </tr>
    </table>
  </div>
</div>
