<div class="container">
  <h3>
    Create a Notabtion Measure
  </h3>
  <div id="section-form">
    <label>Section Name</label>
    <input type="text" [(ngModel)]="section.name">
    <button (click)="saveSectionToSong()">Save Section to Song</button>
  </div>
  <div class="well">
    <table>
      <div class="">
        <tr>
          <th>1</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>2</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>3</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>4</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>5</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>6</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>7</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
          <th>8</th>
          <th>e</th>
          <th>&</th>
          <th>a</th>
        </tr>
        <tr>
          <td><input type="text" #first1 placeholder="-"></td>
          <td><input type="text" #first1e placeholder="-"></td>
          <td><input type="text" #first1and placeholder="-"></td>
          <td><input type="text" #first1a placeholder="-"></td>
          <td><input type="text" #first2 placeholder="-"></td>
          <td><input type="text" #first2e placeholder="-"></td>
          <td><input type="text" #first2and placeholder="-"></td>
          <td><input type="text" #first2a placeholder="-"></td>
          <td><input type="text" #first3 placeholder="-"></td>
          <td><input type="text" #first3e placeholder="-"></td>
          <td><input type="text" #first3and placeholder="-"></td>
          <td><input type="text" #first3a placeholder="-"></td>
          <td><input type="text" #first4 placeholder="-"></td>
          <td><input type="text" #first4e placeholder="-"></td>
          <td><input type="text" #first4and placeholder="-"></td>
          <td><input type="text" #first4a placeholder="-"></td>
          <td><input type="text" #first5 placeholder="-"></td>
          <td><input type="text" #first5e placeholder="-"></td>
          <td><input type="text" #first5and placeholder="-"></td>
          <td><input type="text" #first5a placeholder="-"></td>
          <td><input type="text" #first6 placeholder="-"></td>
          <td><input type="text" #first6e placeholder="-"></td>
          <td><input type="text" #first6and placeholder="-"></td>
          <td><input type="text" #first6a placeholder="-"></td>
          <td><input type="text" #first7 placeholder="-"></td>
          <td><input type="text" #first7e placeholder="-"></td>
          <td><input type="text" #first7and placeholder="-"></td>
          <td><input type="text" #first7a placeholder="-"></td>
          <td><input type="text" #first8 placeholder="-"></td>
          <td><input type="text" #first8e placeholder="-"></td>
          <td><input type="text" #first8and placeholder="-"></td>
          <td><input type="text" #first8a placeholder="-"></td>
        </tr>
        <tr>
          <td><input type="text" #second1 placeholder="-"></td>
          <td><input type="text" #second1e placeholder="-"></td>
          <td><input type="text" #second1and placeholder="-"></td>
          <td><input type="text" #second1a placeholder="-"></td>
          <td><input type="text" #second2 placeholder="-"></td>
          <td><input type="text" #second2e placeholder="-"></td>
          <td><input type="text" #second2and placeholder="-"></td>
          <td><input type="text" #second2a placeholder="-"></td>
          <td><input type="text" #second3 placeholder="-"></td>
          <td><input type="text" #second3e placeholder="-"></td>
          <td><input type="text" #second3and placeholder="-"></td>
          <td><input type="text" #second3a placeholder="-"></td>
          <td><input type="text" #second4 placeholder="-"></td>
          <td><input type="text" #second4e placeholder="-"></td>
          <td><input type="text" #second4and placeholder="-"></td>
          <td><input type="text" #second4a placeholder="-"></td>
          <td><input type="text" #second5 placeholder="-"></td>
          <td><input type="text" #second5e placeholder="-"></td>
          <td><input type="text" #second5and placeholder="-"></td>
          <td><input type="text" #second5a placeholder="-"></td>
          <td><input type="text" #second6 placeholder="-"></td>
          <td><input type="text" #second6e placeholder="-"></td>
          <td><input type="text" #second6and placeholder="-"></td>
          <td><input type="text" #second6a placeholder="-"></td>
          <td><input type="text" #second7 placeholder="-"></td>
          <td><input type="text" #second7e placeholder="-"></td>
          <td><input type="text" #second7and placeholder="-"></td>
          <td><input type="text" #second7a placeholder="-"></td>
          <td><input type="text" #second8 placeholder="-"></td>
          <td><input type="text" #second8e placeholder="-"></td>
          <td><input type="text" #second8and placeholder="-"></td>
          <td><input type="text" #second8a placeholder="-"></td>
        </tr>
        <tr>
          <td><input type="text" #third1 placeholder="-"></td>
          <td><input type="text" #third1e placeholder="-"></td>
          <td><input type="text" #third1and placeholder="-"></td>
          <td><input type="text" #third1a placeholder="-"></td>
          <td><input type="text" #third2 placeholder="-"></td>
          <td><input type="text" #third2e placeholder="-"></td>
          <td><input type="text" #third2and placeholder="-"></td>
          <td><input type="text" #third2a placeholder="-"></td>
          <td><input type="text" #third3 placeholder="-"></td>
          <td><input type="text" #third3e placeholder="-"></td>
          <td><input type="text" #third3and placeholder="-"></td>
          <td><input type="text" #third3a placeholder="-"></td>
          <td><input type="text" #third4 placeholder="-"></td>
          <td><input type="text" #third4e placeholder="-"></td>
          <td><input type="text" #third4and placeholder="-"></td>
          <td><input type="text" #third4a placeholder="-"></td>
          <td><input type="text" #third5 placeholder="-"></td>
          <td><input type="text" #third5e placeholder="-"></td>
          <td><input type="text" #third5and placeholder="-"></td>
          <td><input type="text" #third5a placeholder="-"></td>
          <td><input type="text" #third6 placeholder="-"></td>
          <td><input type="text" #third6e placeholder="-"></td>
          <td><input type="text" #third6and placeholder="-"></td>
          <td><input type="text" #third6a placeholder="-"></td>
          <td><input type="text" #third7 placeholder="-"></td>
          <td><input type="text" #third7e placeholder="-"></td>
          <td><input type="text" #third7and placeholder="-"></td>
          <td><input type="text" #third7a placeholder="-"></td>
          <td><input type="text" #third8 placeholder="-"></td>
          <td><input type="text" #third8e placeholder="-"></td>
          <td><input type="text" #third8and placeholder="-"></td>
          <td><input type="text" #third8a placeholder="-"></td>
        </tr>
        <tr>
          <td><input type="text" #fourth1 placeholder="-"></td>
          <td><input type="text" #fourth1e placeholder="-"></td>
          <td><input type="text" #fourth1and placeholder="-"></td>
          <td><input type="text" #fourth1a placeholder="-"></td>
          <td><input type="text" #fourth2 placeholder="-"></td>
          <td><input type="text" #fourth2e placeholder="-"></td>
          <td><input type="text" #fourth2and placeholder="-"></td>
          <td><input type="text" #fourth2a placeholder="-"></td>
          <td><input type="text" #fourth3 placeholder="-"></td>
          <td><input type="text" #fourth3e placeholder="-"></td>
          <td><input type="text" #fourth3and placeholder="-"></td>
          <td><input type="text" #fourth3a placeholder="-"></td>
          <td><input type="text" #fourth4 placeholder="-"></td>
          <td><input type="text" #fourth4e placeholder="-"></td>
          <td><input type="text" #fourth4and placeholder="-"></td>
          <td><input type="text" #fourth4a placeholder="-"></td>
          <td><input type="text" #fourth5 placeholder="-"></td>
          <td><input type="text" #fourth5e placeholder="-"></td>
          <td><input type="text" #fourth5and placeholder="-"></td>
          <td><input type="text" #fourth5a placeholder="-"></td>
          <td><input type="text" #fourth6 placeholder="-"></td>
          <td><input type="text" #fourth6e placeholder="-"></td>
          <td><input type="text" #fourth6and placeholder="-"></td>
          <td><input type="text" #fourth6a placeholder="-"></td>
          <td><input type="text" #fourth7 placeholder="-"></td>
          <td><input type="text" #fourth7e placeholder="-"></td>
          <td><input type="text" #fourth7and placeholder="-"></td>
          <td><input type="text" #fourth7a placeholder="-"></td>
          <td><input type="text" #fourth8 placeholder="-"></td>
          <td><input type="text" #fourth8e placeholder="-"></td>
          <td><input type="text" #fourth8and placeholder="-"></td>
          <td><input type="text" #fourth8a placeholder="-"></td>
        </tr>
        <tr>
          <td><input type="text" #fifth1 placeholder="-"></td>
          <td><input type="text" #fifth1e placeholder="-"></td>
          <td><input type="text" #fifth1and placeholder="-"></td>
          <td><input type="text" #fifth1a placeholder="-"></td>
          <td><input type="text" #fifth2 placeholder="-"></td>
          <td><input type="text" #fifth2e placeholder="-"></td>
          <td><input type="text" #fifth2and placeholder="-"></td>
          <td><input type="text" #fifth2a placeholder="-"></td>
          <td><input type="text" #fifth3 placeholder="-"></td>
          <td><input type="text" #fifth3e placeholder="-"></td>
          <td><input type="text" #fifth3and placeholder="-"></td>
          <td><input type="text" #fifth3a placeholder="-"></td>
          <td><input type="text" #fifth4 placeholder="-"></td>
          <td><input type="text" #fifth4e placeholder="-"></td>
          <td><input type="text" #fifth4and placeholder="-"></td>
          <td><input type="text" #fifth4a placeholder="-"></td>
          <td><input type="text" #fifth5 placeholder="-"></td>
          <td><input type="text" #fifth5e placeholder="-"></td>
          <td><input type="text" #fifth5and placeholder="-"></td>
          <td><input type="text" #fifth5a placeholder="-"></td>
          <td><input type="text" #fifth6 placeholder="-"></td>
          <td><input type="text" #fifth6e placeholder="-"></td>
          <td><input type="text" #fifth6and placeholder="-"></td>
          <td><input type="text" #fifth6a placeholder="-"></td>
          <td><input type="text" #fifth7 placeholder="-"></td>
          <td><input type="text" #fifth7e placeholder="-"></td>
          <td><input type="text" #fifth7and placeholder="-"></td>
          <td><input type="text" #fifth7a placeholder="-"></td>
          <td><input type="text" #fifth8 placeholder="-"></td>
          <td><input type="text" #fifth8e placeholder="-"></td>
          <td><input type="text" #fifth8and placeholder="-"></td>
          <td><input type="text" #fifth8a placeholder="-"></td>
        </tr>
        <tr>
          <td><input type="text" #sixth1 placeholder="-"></td>
          <td><input type="text" #sixth1e placeholder="-"></td>
          <td><input type="text" #sixth1and placeholder="-"></td>
          <td><input type="text" #sixth1a placeholder="-"></td>
          <td><input type="text" #sixth2 placeholder="-"></td>
          <td><input type="text" #sixth2e placeholder="-"></td>
          <td><input type="text" #sixth2and placeholder="-"></td>
          <td><input type="text" #sixth2a placeholder="-"></td>
          <td><input type="text" #sixth3 placeholder="-"></td>
          <td><input type="text" #sixth3e placeholder="-"></td>
          <td><input type="text" #sixth3and placeholder="-"></td>
          <td><input type="text" #sixth3a placeholder="-"></td>
          <td><input type="text" #sixth4 placeholder="-"></td>
          <td><input type="text" #sixth4e placeholder="-"></td>
          <td><input type="text" #sixth4and placeholder="-"></td>
          <td><input type="text" #sixth4a placeholder="-"></td>
          <td><input type="text" #sixth5 placeholder="-"></td>
          <td><input type="text" #sixth5e placeholder="-"></td>
          <td><input type="text" #sixth5and placeholder="-"></td>
          <td><input type="text" #sixth5a placeholder="-"></td>
          <td><input type="text" #sixth6 placeholder="-"></td>
          <td><input type="text" #sixth6e placeholder="-"></td>
          <td><input type="text" #sixth6and placeholder="-"></td>
          <td><input type="text" #sixth6a placeholder="-"></td>
          <td><input type="text" #sixth7 placeholder="-"></td>
          <td><input type="text" #sixth7e placeholder="-"></td>
          <td><input type="text" #sixth7and placeholder="-"></td>
          <td><input type="text" #sixth7a placeholder="-"></td>
          <td><input type="text" #sixth8 placeholder="-"></td>
          <td><input type="text" #sixth8e placeholder="-"></td>
          <td><input type="text" #sixth8and placeholder="-"></td>
          <td><input type="text" #sixth8a placeholder="-"></td>
        </tr>
      </div>
    </table>
    <button type="button" (click)="submit(first1.value,
    first1e.value,
    first1and.value,
    first1a.value,
    first2.value,
    first2e.value,
    first2and.value,
    first2a.value,
    first3.value,
    first3e.value,
    first3and.value,
    first3a.value,
    first4.value,
    first4e.value,
    first4and.value,
    first4a.value,
    first5.value,
    first5e.value,
    first5and.value,
    first5a.value,
    first6.value,
    first6e.value,
    first6and.value,
    first6a.value,
    first7.value,
    first7e.value,
    first7and.value,
    first7a.value,
    first8.value,
    first8e.value,
    first8and.value,
    first8a.value,
    second1.value,
    second1e.value,
    second1and.value,
    second1a.value,
    second2.value,
    second2e.value,
    second2and.value,
    second2a.value,
    second3.value,
    second3e.value,
    second3and.value,
    second3a.value,
    second4.value,
    second4e.value,
    second4and.value,
    second4a.value,
    second5.value,
    second5e.value,
    second5and.value,
    second5a.value,
    second6.value,
    second6e.value,
    second6and.value,
    second6a.value,
    second7.value,
    second7e.value,
    second7and.value,
    second7a.value,
    second8.value,
    second8e.value,
    second8and.value,
    second8a.value,
    third1.value,
    third1e.value,
    third1and.value,
    third1a.value,
    third2.value,
    third2e.value,
    third2and.value,
    third2a.value,
    third3.value,
    third3e.value,
    third3and.value,
    third3a.value,
    third4.value,
    third4e.value,
    third4and.value,
    third4a.value,
    third5.value,
    third5e.value,
    third5and.value,
    third5a.value,
    third6.value,
    third6e.value,
    third6and.value,
    third6a.value,
    third7.value,
    third7e.value,
    third7and.value,
    third7a.value,
    third8.value,
    third8e.value,
    third8and.value,
    third8a.value,
    fourth1.value,
    fourth1e.value,
    fourth1and.value,
    fourth1a.value,
    fourth2.value,
    fourth2e.value,
    fourth2and.value,
    fourth2a.value,
    fourth3.value,
    fourth3e.value,
    fourth3and.value,
    fourth3a.value,
    fourth4.value,
    fourth4e.value,
    fourth4and.value,
    fourth4a.value,
    fourth5.value,
    fourth5e.value,
    fourth5and.value,
    fourth5a.value,
    fourth6.value,
    fourth6e.value,
    fourth6and.value,
    fourth6a.value,
    fourth7.value,
    fourth7e.value,
    fourth7and.value,
    fourth7a.value,
    fourth8.value,
    fourth8e.value,
    fourth8and.value,
    fourth8a.value,
    fifth1.value,
    fifth1e.value,
    fifth1and.value,
    fifth1a.value,
    fifth2.value,
    fifth2e.value,
    fifth2and.value,
    fifth2a.value,
    fifth3.value,
    fifth3e.value,
    fifth3and.value,
    fifth3a.value,
    fifth4.value,
    fifth4e.value,
    fifth4and.value,
    fifth4a.value,
    fifth5.value,
    fifth5e.value,
    fifth5and.value,
    fifth5a.value,
    fifth6.value,
    fifth6e.value,
    fifth6and.value,
    fifth6a.value,
    fifth7.value,
    fifth7e.value,
    fifth7and.value,
    fifth7a.value,
    fifth8.value,
    fifth8e.value,
    fifth8and.value,
    fifth8a.value,
    sixth1.value,
    sixth1e.value,
    sixth1and.value,
    sixth1a.value,
    sixth2.value,
    sixth2e.value,
    sixth2and.value,
    sixth2a.value,
    sixth3.value,
    sixth3e.value,
    sixth3and.value,
    sixth3a.value,
    sixth4.value,
    sixth4e.value,
    sixth4and.value,
    sixth4a.value,
    sixth5.value,
    sixth5e.value,
    sixth5and.value,
    sixth5a.value,
    sixth6.value,
    sixth6e.value,
    sixth6and.value,
    sixth6a.value,
    sixth7.value,
    sixth7e.value,
    sixth7and.value,
    sixth7a.value,
    sixth8.value,
    sixth8e.value,
    sixth8and.value,
    sixth8a.value)" >Submit to Section</button>
  </div>

    <!-- jumbotron -->
    <button (click)="startScrolling()">Start</button>
    <div class="well">
      Test display ...
    </div>
    <div class="jumbotron" id="fretBoard">
      <table>
        <hr>
        <hr>
        <tr>
          <td *ngFor="let note of firstStringArr"><span>{{note}}</span></td>
        </tr>
        <tr>
          <td *ngFor="let note of secondStringArr"><span>{{note}}</span></td>
        </tr>
        <tr>
          <td *ngFor="let note of thirdStringArr"><span>{{note}}</span></td>
        </tr>
        <tr>
          <td *ngFor="let note of fourthStringArr"><span>{{note}}</span></td>
        </tr>
        <tr>
          <td *ngFor="let note of fifthStringArr"><span>{{note}}</span></td>
        </tr>
        <tr>
          <td *ngFor="let note of sixthStringArr"><span>{{note}}</span></td>
        </tr>
      </table>
    </div>
</div>
<!-- container -->
